:root {
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
    --radial: radial-gradient( 72.53% 113.81% at 88.58% 24.1%, #7388ff 0%, #ca73ff 50.34%, #ff739d 100%);
}

.show-border {
    border: 1px solid red;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: rgb(var(--background-end-rgb)) !important;
    color: rgb(var(--background-start-rgb)) !important;
}

a {
    color: inherit;
    text-decoration: none;
}

div {
    background-color: inherit;
}


/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */

.goldText {
    color: linear-gradient(166.36deg, #ffa200 11.59%, #322900 100.82%);
}

.circleHover {
    position: relative;
    /* padding: 20px; */
    background-color: transparent;
    overflow: hidden;
    /* border: solid 1px red; */
    transition: background-color 0.5s ease;
    border-radius: 50px 50px 100px 100px;
}

.circleHover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background: var(--radial);
    border-radius: 50%;
    transition: all 0.5s ease;
    /* transition: width 0.5s ease, height 0.5s ease; */
    z-index: -1;
}

.collaborators-tiles-plain {
    width: 270px;
    height: 270px;
    padding: 16px 8px 16px 8px;
    /* border-radius: 20px 0px 0px 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaborators-tiles-org {
    z-index: 500;
    border: 1px solid transparent;
    /* Make sure to use 'transparent' for the border to allow gradient visibility */
    border-image-source: radial-gradient( 69.43% 69.43% at 50% 50%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    background-image: radial-gradient( 60% 51.57% at 50% 50%, #0938df 0%, rgba(9, 56, 223, 0) 100%), radial-gradient(54.8% 53% at 50% 50%, #151515 0%, rgba(21, 21, 21, 0) 100%);
    background-clip: border-box;
    border-radius: 8px;
    /* Optional: To round the corners */
    width: 270px;
    height: 270px;
    padding: 16px 8px 16px 8px;
    /* border-radius: 20px 0px 0px 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaborators-tiles {
    position: relative;
    border: 1px solid transparent;
    border-image-source: radial-gradient( 69.43% 69.43% at 50% 50%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    border-radius: 8px;
    /* Optional: To round the corners */
    background-image: radial-gradient( 60% 51.57% at 50% 50%, #0938df 0%, rgba(9, 56, 223, 0) 100%), radial-gradient(45% 45% at 50% 50%, #151515 0%, rgba(21, 21, 21, 0) 100%);
    background-clip: border-box;
    /* Outer Glow */
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    /* Grey Blurred Background */
    background-color: rgba(128, 128, 128, 0.075);
    /* Grey color with opacity */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    /* Optional: To round the corners */
    width: 270px;
    height: 270px;
    padding: 16px 8px 16px 8px;
    /* border-radius: 20px 0px 0px 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaborators-tiles p {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
}

.collaborators-tiles h5 {
    font-size: 18px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    margin-bottom: 1rem;
}

.components-container {
    padding: 4rem 0rem 4rem 0rem;
}

.gradient-text {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffa200, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffa200 !important;
}

.world-is-yours {
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.casino {
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    width: 100%;
}

.tokenomics {
    padding: 1rem 6rem 1rem 6rem;
}

.joinUs {
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    padding: 1rem 10rem 1rem 10rem;
}

.tokenomicsPoints {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.coverImage {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .components-container {
        padding: 2rem 1rem 2rem 1rem;
    }
    .casino {
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        padding-top: 1rem;
        top: 0.8rem
    }
    .tokenomicsPoints {
        font-size: 18px;
        line-height: 20px;
        font-weight: bolder;
    }
    .joinUs {
        font-size: 15px;
        font-weight: 200;
        line-height: 18px;
        text-align: center;
        padding: 1rem 2rem 1rem 2rem;
    }
    .collaborators-tiles h3 {
        font-size: 18px;
    }
    .collaborators-tiles p {
        font-size: 15px;
    }
}